 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.7), rgba(64,64,64,0.7)), url("images/muhammad-ravel-P5d3B3oZLqw-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 682px;
  margin: 154px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 131px;
  margin-top: 31px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 474px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 576px;
    margin-top: 148px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 143px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 384px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 141px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 34px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    width: 206px;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 115px;
    margin-top: 36px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 32px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 32px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-gap: 10px 10px;
  min-height: 535px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/jul.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/6a58d4ca-6b7d-4863-8ef7-d6873e4f5efe.jpg");
  background-position: 32.7% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/0f408505-2873-4c90-a777-f05548597c85.jpg");
  background-position: 42.41% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/0365d16d-809e-4828-841e-880fdc6e130d.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/358c7f9d-e767-4233-84b2-ad8cec6473cf.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-text-11 {
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1146px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1955px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: linear-gradient(#0a293a, #73b3d5);
}

.u-section-3 .u-sheet-1 {
  min-height: 623px;
}

.u-section-3 .u-text-1 {
  margin: 85px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }
}