 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.5), rgba(64,64,64,0.5)), url("images/muhammad-ravel-P5d3B3oZLqw-unsplash.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  height: 131px;
  margin-top: 663px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 567px;
  height: 661px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -657px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -554px calc(((100% - 1140px) / 2) + 570px) 0 calc(((100% - 1140px) / 2) + 145px);
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 calc(((100% - 1140px) / 2) + 540px) 60px calc(((100% - 1140px) / 2) + 145px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 520px;
    height: 625px;
    margin-top: -625px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -541px;
    margin-right: calc(((100% - 940px) / 2) + 537px);
    margin-left: calc(((100% - 940px) / 2) + 32px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: calc(((100% - 940px) / 2) + 407px);
    margin-left: calc(((100% - 940px) / 2) + 32px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 432px;
    height: 545px;
    margin-top: -545px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -610px;
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2) + 18px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 382px);
    margin-left: calc(((100% - 720px) / 2) + 18px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 450px;
    height: 556px;
    margin-top: -556px;
    margin-right: calc(((100% - 540px) / 2) + -109px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -545px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-right: calc(((100% - 540px) / 2) + 288px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 115px;
    margin-top: 679px;
  }

  .u-section-1 .u-image-1 {
    height: 551px;
    margin-top: -551px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -644px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1062px;
    margin-right: calc(((100% - 340px) / 2) + -20px);
    margin-left: calc(((100% - 340px) / 2) + 20px);
  }
} .u-section-2 {
  background-image: linear-gradient(#0a293a, #73b3d5);
}

.u-section-2 .u-sheet-1 {
  min-height: 731px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 124px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  width: 563px;
  height: 552px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0 -38px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -476px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 445px;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-2 .u-image-1 {
  min-height: 578px;
  background-image: url("images/img_619476147d69c8-05047700-46145535.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 714px;
  }

  .u-section-2 .u-shape-1 {
    width: 465px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-2 .u-shape-1 {
    height: 736px;
    width: 429px;
    margin-top: -45px;
    margin-left: -46px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -638px;
  }

  .u-section-2 .u-text-2 {
    width: 355px;
  }

  .u-section-2 .u-image-1 {
    min-height: 818px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -40px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -643px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1227px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 804px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -586px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 773px;
  }
} .u-section-3 {
  background-image: linear-gradient(#73b3d5, #f9e79b);
}

.u-section-3 .u-sheet-1 {
  min-height: 689px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 14px auto 0;
}

.u-section-3 .u-text-2 {
  width: 681px;
  margin: -13px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 583px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 583px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 533px;
  width: 373px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: -10px -7px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 583px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 481px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 621px;
    width: 307px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-3 .u-image-1 {
    height: 713px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1972px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1070px;
  }

  .u-section-3 .u-image-1 {
    height: 1070px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-3 .u-image-1 {
    height: 674px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: linear-gradient(#f9e79b, #ffa313);
}

.u-section-4 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 70px auto 30px 0;
}

.u-section-4 .u-image-1 {
  min-height: 442px;
  background-image: url("images/image3.png");
  background-position: 50% 22.32%;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 442px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 445px;
  margin: 90px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 29px 70px 0 50px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 566px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 563px;
  height: 488px;
  margin: 26px auto 0 -27px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  width: 445px;
  margin: -429px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  width: 445px;
  margin: 31px auto 0;
}

.u-section-4 .u-image-2 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/2010_02_21_11_17_17_kirab-b.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -432px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -1px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 13px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    height: 629px;
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -604px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 14px;
    margin-right: 27px;
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -75px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -593px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(#ffa313, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 62px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 498px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 14px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  margin: 16px auto 0;
}

.u-section-5 .u-text-7 {
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 95px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 4px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 411px;
  }

  .u-section-5 .u-image-1 {
    height: 169px;
  }

  .u-section-5 .u-image-2 {
    height: 169px;
  }

  .u-section-5 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1468px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 944px;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
  }

  .u-section-5 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2127px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2242px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
  }
}